{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <form id = "calcform"> 
    	Jackpot:
    	<input id = "jackpot" type = "text" name = "jackpot"><br>
    	Probability:
    	<input id = "probability" type = "text" name = "probability"><br>
    	Estimated number of tickets:
    	<input id = "tickets" type = "text" name = "tickets"><br>
    	<button id = "calcbtn" type = "submit">Calculate Expected Value</button><br>
    	Expected Value:
    	<input id = "expected-value" type = "text" name = "expected-value" readonly><br>

    </form>
{% endblock %}
